html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.hide {
	display: none;
}
.show {
	display: block;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:62.5%;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}

$darkIndigo:   	#303F9F;
$lightIndigo:  	#3F51B5;
$skyIndigo:  	#C5CAE9;
$white:   		#FFFFFF;
$blueGrey:      #607D8B;
$darkText:   	#212121;
$secondaryGrey: #727272;
$lightGrey:     #B6B6B6;

.title {
	border-top: 20px solid $darkIndigo;
	text-align: center;
	background: $lightIndigo;
	color: $white;
	width: 100%;
}
h1 {
	padding: 0.5em 0;
	text-transform: uppercase;
	font-size: 4em;
}
.name {
	text-align: center;
	background: $skyIndigo;
	color: $white;
}
h2 {
	padding: 0.5em 0;
	text-transform: uppercase;
	font-size: 2em;
}
.roster {
	a {
		line-height: 60px;
		width: 100%;
		display: block;
		padding-left: 20px;
		text-decoration: none;
		font-size: 1.8em;
		color: $secondaryGrey;
		border-bottom: 1px solid $lightGrey;
		position: relative;
		transition: background-color 0.5s ease-in-out;
	}

	i {
		vertical-align: middle;
		padding-right: 10px;
		line-height: 100%;
		color: $lightGrey;
		transition: color 0.5s ease-in-out;

	}
	span {
		color: $darkText;
		transition: color 0.5s ease-in-out;
	}
	
	small {
		position: absolute;
		left: 60px;
		bottom: 10px;
		font-size: 0.5em;
		line-height: 1em;
		color: $secondaryGrey;
		transition: color 0.5s ease-in-out;
	}

	a:focus {
		background-color: $blueGrey;
		transition: background-color 0.5s ease-in-out;
		
		i {
			color: $blueGrey;
			transition: color 0.5s ease-in-out;

		}

		span {
			color: $lightGrey;
			transition: color 0.5s ease-in-out;

		}

		small{
			color: $white;
			transition: color 0.5s ease-in-out;

		}
	}
	h2 {
		padding-left: 20px;
	}
}

table {
	width: 100%;
	font-size: 2em;
}

thead {
	border-top: 1px solid $darkText;
}

tbody, th, td, tr, {
	text-align: center;
}